@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --primary-color:#98DA6C;
    --secondary-color:#D5440B;
    --accent1-color:#BD6184;
    --accent2-color:#8ECCF6;
    
    --heading-font:'Montserrat', serif;
    --paragraph-font:'Montserrat', serif;

    --nav-background-color: #D5440B;
    --nav-link-color: #98DA6C;
    --nav-hover-link-color: #8ECCF6;
    --nav-hover-background-color: #BD6184;
}

header {
    display: grid;
    align-content: space-between;
    grid-template-columns: 1fr 2fr;
    display: flex;
    justify-content: center;
}

h1, h2{
    font-family: var(--heading-font);
    color: var(--accent1-color);
}

p{
    font-family: var(--paragraph-font);
    color: var(--seconday-color)
}
body{
    background-color: var(--primary-color);
    width: 1000px
}
.hero{
    position: relative;
}
.hero img{
    display: block; 
    width: 100%;
    height: auto;
}
h1{
    position: absolute;
    top: 30px;
    left:200px;
    display:inline-block;
}
article{
    position: absolute;
    top: 90px;
    left:100px;
    display: inline-block;
    background-color: rgba(160, 210, 232, 0.642);
}
#smile{
    float:right;
    height:100px;
    width:auto;
}
article p{
    float:right;
    text-decoration: none;
}
