@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --primary-color:#990011;
    --secondary-color:#FCF6F5;
    --tertiary-color: #001199;

    --heading-font:'Montserrat', serif;
    --paragraph-font:'Montserrat', serif;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--heading-font);
    font-size: 1.2rem;
    color: var(--primary-color);
    background: var(--secondary-color);
}

header {
    margin: 0 auto;
    width: 650px;
}

h1 {
    margin: 1rem;
    font-size: 1.5rem;
    color: var(--tertiary-color);
    text-align: center;
}

form {
    width: 650px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 0.5rem;
    background-color: #eee;
    display: grid;
}

label, input, button, select, textarea {
    font-family:var(--paragraph-font)
}

label {
    text-align: center;
    padding-right: 1rem;
    margin: 1rem;
}

input, select, textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
}

button {
    margin: 1rem;
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
    border: none;
    border-radius: 0.5rem;
    padding: .75rem;
    font-size: 1.2rem;
}

button:hover {
    background-color: darkgreen;
}

.form-item {
    display: grid;
    align-items: center;
    margin: 1rem 0 1rem 0;
}